<nav class="navbar navbar-default" height="100%" width="100%">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <div class="row">
                <div class="col-xs-9">
                    <div class="col-md-5">
                        <img src="assets\QuickMessageIcon.png" style="max-height: 30px;" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <a class="navbar-brand">QuickMessage</a>
                    </div>
                </div>
            </div>    
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        </div>
    </div>
</nav>