<!-- <style>
  @media only screen and (max-width: 578px) {
    .credits {
      text-align:center;
    }
  }
</style> -->
<!-- <div class="app-container col-md-6 col-sm-6 col-xs-12 credits"> -->
<!-- <div class="app-container"> -->
  <div>
  <app-header></app-header>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div class="row row-grid">
          <app-explanation></app-explanation>
          <app-phone class=""></app-phone>
        </div>
      </div>
    </div>
  </div>
</div>