<!-- <input (input)="onPhoneNumberChanged($event)" #phoneInput type="tel" id="phone"> -->
<form #f="ngForm" [formGroup]="phoneForm" (ngSubmit)="onSubmit()" height="100%" width="100%">
    <ngx-intl-tel-input #phoneNewInput (input)="onPhoneNumberChanged($event)" [cssClass]="'custom'"
        [preferredCountries]="[CountryISO.Israel, CountryISO.UnitedStates]" [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true" [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="true"
        maxLength="20" [phoneValidation]="true" [separateDialCode]="true" inputId="1" name="phone"
        formControlName="phone">
    </ngx-intl-tel-input>

    <br>
    <br>

    <button [disabled]="this.f.form.controls.phone.invalid" class="row-md-4 btn btn-primary p-2">
        Go to chat!
    </button>

    <!-- <div><strong>Is input valid:</strong>
		<pre>{{ !f.form.controls['phone'].invalid }}</pre>
	</div>
	<div><strong>Is input touched:</strong>
		<pre>{{ f.form.controls['phone'].touched }}</pre>
	</div>
	<div><strong>Is form valid:</strong>
		<pre>{{ f.form.valid }}</pre>
	</div>
	<div><strong>Form value:</strong>
		<pre>{{ f.form.value | json }}</pre>
	</div>
	<div><strong>Form validation errors:</strong>
		<pre>{{ f.form.controls['phone'].errors | json }}</pre>
	</div> -->
</form>